<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>益民大药房</title>
	<link href="../css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
	<link href="../css/styles.css" type="text/css" rel="stylesheet" media="all">
	<script type="text/javascript" src="../js/jquery.min.js"></script>
</head>


<script type="text/javascript">

    <!--获取登录信息,显示所有药品信息-->
    window.onload=function(){

        $.ajax({
            type:"post",
            url:"../drug/getUser",
            // data:JSON.stringify(info),
            // contentType: 'application/json;charset=UTF-8',
            // dataType:"json",
            success: function(data){
                if(data == ""){
                    $("#username").append("<a href='login.html' style='color:mintcream'>"+"当前未登录，请跳转登录"+"</a>"+"")

                } else {
                    $("#username").append("当前用户:"+data.name+"    <a href='../user/outLog' methods='post' style='color:mintcream'>"+"退出登录"+"</a>"+"")

                }



            }
        });

        $.ajax({
            type:"post",
            url:"../drug/getAll",
            success: function(data){

                for(var i=0;i<data.length;i++){

                    $("#addInfo").append("<div class=\"col-sm-6 col-md-4 services-grids\">" +
						"<div class=\"thumbnail\">" +
						"<div class=\"caption services-caption\" id='addInfo1'>" +
							"<a href='#'><h4 id="+data[i].id+"drugName"+"></h4></a>" +
							"<p id="+data[i].id+"type"+"></p>" +
							"<p id="+data[i].id+"mainFunction"+"></p>" +
							"<p id="+data[i].id+"saleMoney"+"></p>" +
							"<button value="+data[i].id+" onclick='buyInfo(value)'>添加购买</button>" +
						"</div></div></div>")


                    $("#"+data[i].id+"drugName"+"").html('药品名称: '+data[i].drugName+'');
                    $("#"+data[i].id+"type"+"").html('药品类型: '+data[i].type+'');
                    $("#"+data[i].id+"mainFunction"+"").html('主治功能：'+data[i].mainFunction+'');
                    $("#"+data[i].id+"saleMoney"+"").html('售价：￥'+data[i].saleMoney+'');
                }


            }
        });

    }


    <!--模糊查询	-->
    function selByInfo() {
        $("#addInfo").empty();
        var info = $("#info").val()
        $.ajax({
            type:"post",
            url:"../drug/getByInfo",
            data:"info="+info,
            // contentType: 'application/json;charset=UTF-8',
            // dataType:"json",
            success: function(data){
                console.log(data)

                for(var i=0;i<data.length;i++){

					$("#addInfo").append("<div class=\"col-sm-6 col-md-4 services-grids\">" +
						"<div class=\"thumbnail\">" +
						"<div class=\"caption services-caption\" id='addInfo1'>" +
						"<a href='#' onclick='buyInfo()'><h4 id="+data[i].id+"drugName"+"></h4></a>" +
						"<p id="+data[i].id+"type"+"></p><p id="+data[i].id+"mainFunction"+"></p>" +
						"<p id="+data[i].id+"saleMoney"+"></p>" +
						"<button value="+data[i].id+" onclick='buyInfo(value)'>添加购买</button>" +
						"</div></div></div>")

					$("#"+data[i].id+"drugName"+"").html('药品名称: '+data[i].drugName+'');
					$("#"+data[i].id+"type"+"").html('药品类型: '+data[i].type+'');
					$("#"+data[i].id+"mainFunction"+"").html('主治功能：'+data[i].mainFunction+'');
					$("#"+data[i].id+"saleMoney"+"").html('售价：￥'+data[i].saleMoney+'');
				}
            }

        });


    }

    <!--添加购物车，判断是否登录	-->
	function buyInfo(value) {
       // 获取到药品id

        $.ajax({
            type:"post",
            url:"../drug/getUser",
            success: function(data){
                if(data == ""){
					alert("当前未登录，请登录...")
                    window.open(url="../html/login.html","_self")
                } else {
                    // 药品did
                    //console.log(value)
                    //用户uid
                   // console.log(data.id)

                    var info ={"did":value,"uid":data.id,"number":1}
                    $.ajax({
                        type:"post",
                        url:"../buy/insertInfo",
                        data:JSON.stringify(info),
                        contentType: 'application/json;charset=UTF-8',
                        dataType:"json",
                        success: function(data){
							alert(data.msg)
                        }
                    });


                }



            }
        });
    }


</script>


<body>
<!--标题头-->
<div class="header">
	<div class="container">
		<div class="header-logo">
			<div class="header-info">
				<h4>益民大药房</h4>
			</div>


		</div>
		<div class="header-info">
			<div id="username"></div>

		</div>
		<div class="clearfix"> </div>
	</div>
</div>

<!--搜索栏-->
<div class="header-bottom">
	<div class="container">
		<!--top-nav-->
		<div class="top-nav cl-effect-5">
			<span class="menu-icon"><img src="../images/menu-icon.png" alt=""/></span>
			<ul class="nav1">
				<li><a href="index.html" ><span data-hover="药店简介">药店简介</span></a></li>
				<li><a href="about.html" class="active"> <span data-hover="药品信息查询">药品信息查询</span></a></li>
				<li><a href="services.html"> <span data-hover="热销、分类、推送">热销、分类、推送</span></a></li>
				<li><a href="buy.html"> <span data-hover="购物车">购物车</span></a></li>
				<li><a href="news.html"> <span data-hover="药店信息公告">药店信息公告</span></a></li>
			</ul>

		</div>

		<div class="navbar-form navbar-right">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="搜索" id="info">
				<button  class="btn btn-default" onclick="selByInfo()"></button>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>

<!--药品信息-->
<div class="services">
	<div class="container">
		<h3></h3>
		<div class="row services-info" id="addInfo">
			<!--<div class="col-sm-6 col-md-4 services-grids">-->
				<!--<div class="thumbnail">-->

					<!--<div class="caption services-caption">-->
						<!--<h2><a href="single.html">Facilisis dignissimos luptat</a></h2>-->
						<!--<p>Cras justo odioda pibus facilisis dignissimos voluptatem accusantium</p>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->

			<div class="clearfix"> </div>
		</div>

	</div>
</div>


<!--底部药店说明-->
<div class="footer-bottom">
	<div class="container">
		<p> 益民大药房网上药店版权所有，并保留所有权利  <a href="index.html">http://localhost:8080/html/index.html</a></p>
	</div>
</div>

<!--返回顶部-->
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

</body>
</html>